In [82]:
import pandas as pd

In [83]:
data = pd.read_csv("dataset_chaicode.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. J",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [84]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. J",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [85]:
data.head(14)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. J",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S

In [86]:
print(data.head)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                    Kelly, Mr. J    male  34.5      0      0
1                Wilkes, Mrs. James (ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]>

In [87]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [88]:
type(data)

pandas.core.frame.DataFrame

In [89]:
type(data['PassengerId'])

pandas.core.series.Series

In [90]:
type(data['Age'])

pandas.core.series.Series

In [91]:
data['PassengerId']

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [92]:
data['Name']

0                                      Kelly, Mr. J
1                  Wilkes, Mrs. James (ellen Needs)
2                         Myles, Mr. Thomas Francis
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                           ...
413                              Spector, Mr. Woolf
414                    Oliva y Ocana, Dona. Fermina
415                    Saether, Mr. Simon Sivertsen
416                             Ware, Mr. Frederick
417                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [93]:
series_sclar = pd.Series(10, index=['a', 'b', 'd', 'f'])
print(series_sclar)

a    10
b    10
d    10
f    10
dtype: int64

In [94]:
series_sclar['a']

np.int64(10)

In [95]:
series_sclar = pd.Series(20.3)
series_sclar

0    20.3
dtype: float64

In [96]:
data = [10, 20, 30, 40, 50, 60, 70]
series_list = pd.Series(data)
print(series_list)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [97]:
import numpy as np
data_array = np.array(data)
series_custom_array = pd.Series(data_array, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
print(series_custom_array)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [98]:
data_dict = {'a':2, 'b':3, 'c':4, 'd':5, 'e':6}
print(pd.Series(data_dict))

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [99]:
se3 = pd.Series(data_dict)
print(se3[0:3])

a    2
b    3
c    4
dtype: int64

In [100]:
data = ['New Delhi', 'Washington', 'London', 'Paris']
index = ['India', 'USA', 'UK', 'France']

series_capital_country = pd.Series(data, index)
series_capital_country

India      New Delhi
USA       Washington
UK            London
France         Paris
dtype: object

In [101]:
print("Index of the series_capital_country")
print(series_capital_country.index)

Index of the series_capital_country
Index(['India', 'USA', 'UK', 'France'], dtype='object')

In [102]:
print(series_capital_country.all())

True

In [103]:
print("Values of the series_capital_country")
print(series_capital_country.values)

Values of the series_capital_country
['New Delhi' 'Washington' 'London' 'Paris']

In [104]:
print("Data type of the series_capital_country")
print(series_capital_country.dtype)

Data type of the series_capital_country
object

In [105]:
print("shape of the series_capital_country")
print(series_capital_country.shape)

shape of the series_capital_country
(4,)

In [106]:
print("Size of the series_capital_country")
print(series_capital_country.size)

Size of the series_capital_country
4

In [107]:
print("is series_capital_country contains NaN?")
print(series_capital_country.hasnans)

is series_capital_country contains NaN?
False

In [108]:
print("is series_capital_country empty?")
print(series_capital_country.empty)

is series_capital_country empty?
False

In [109]:
print("is series_capital_country contains unique element")
print(series_capital_country.is_unique)

is series_capital_country contains unique element
True

In [110]:
print("Dimensions of the series_capital_country")
print(series_capital_country.ndim)

Dimensions of the series_capital_country
1

In [111]:
print(pd.Series())

Series([], dtype: object)

Methods in Series Data Structure

In [112]:
series_capital_country.head()

India      New Delhi
USA       Washington
UK            London
France         Paris
dtype: object

In [113]:
series_capital_country.tail(2)

UK        London
France     Paris
dtype: object

In [114]:
marks = [85, 60, 74, 66, 89, 91]
students = ['Ram', 'Priya', 'Rashmi', 'Vidushi', 'Mohit', 'Karan']

series_student = pd.Series(marks, index=students)
print(series_student)

Ram        85
Priya      60
Rashmi     74
Vidushi    66
Mohit      89
Karan      91
dtype: int64

To get the descriptive statistics of the given data

In [115]:
series_student.describe()

count     6.000000
mean     77.500000
std      12.817956
min      60.000000
25%      68.000000
50%      79.500000
75%      88.000000
max      91.000000
dtype: float64

In [116]:
series_student.min()

np.int64(60)

In [117]:
series_student.max()

np.int64(91)

value_counts()

In [118]:
series_student.value_counts()

85    1
60    1
74    1
66    1
89    1
91    1
Name: count, dtype: int64

sort_values()

In [119]:
series_student.sort_values()

Priya      60
Vidushi    66
Rashmi     74
Ram        85
Mohit      89
Karan      91
dtype: int64

drop()

In [120]:
series_student.drop('Karan', inplace=True)

In [121]:
series_student

Ram        85
Priya      60
Rashmi     74
Vidushi    66
Mohit      89
dtype: int64

isnull() -> Detect the missing values

In [122]:
series_student.isnull()

Ram        False
Priya      False
Rashmi     False
Vidushi    False
Mohit      False
dtype: bool

sum of all missing value

In [123]:
print(series_student.isnull().sum())

0

Addition of two Series

Subtraction of two Series

Multiplication of two Series

Division of two Series

In [124]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([5, 4, 3, 2, 1])

print(series1 + series2)
print(series1 - series2)

0    6
1    6
2    6
3    6
4    6
dtype: int64
0   -4
1   -2
2    0
3    2
4    4
dtype: int64

In [125]:
print(series1 * series2)

0    5
1    8
2    9
3    8
4    5
dtype: int64

In [126]:
print(series1 / series2)

0    0.2
1    0.5
2    1.0
3    2.0
4    5.0
dtype: float64

In [127]:
print(series2 / series1)

0    5.0
1    2.0
2    1.0
3    0.5
4    0.2
dtype: float64

In [128]:
import pandas as pd

In [129]:
import pandas as pd
data1 = pd.read_csv("customers.csv")
print(data1)

     Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0    id first_name    last_name  \
0               0             0           0     1     Romain    Southcott
1               1             1           1     2     Cosimo    Molyneaux
2               2             2           2     3      Bambi      Westrip
3               3             3           3     4     Roarke   Pankettman
4               4             4           4     5    Mikaela     Althorpe
..            ...           ...         ...   ...        ...          ...
995           995           995         995   996    Merrili        Alman
996           996           996         996   997    Winonah       Heckle
997           997           997         997   998      Tobit         Birt
998           998           998         998   999     Issiah  Standbrooke
999           999           999         999  1000     Elmore       Malpas

                              email  gender  street_num street_name  \
0         rsouthcott0@clickbank.net    Male         1.0   Trailsway
1             cmolyneaux1@wiley.com    Male         1.0   Trailsway
2            bwestrip2@symantec.com  Female      4057.0    Arkansas
3            rpankettman3@wiley.com    Male        74.0        Debs
4                  malthorpe4@51.la    Male        74.0         2nd
..                              ...     ...         ...         ...
995            malmanrn@cornell.edu  Female         0.0    Thompson
996               whecklero@fc2.com  Female       701.0     Rowland
997                         Unknown    Male         2.0       Basil
998  istandbrookerq@yellowpages.com    Male         2.0     Kenwood
999                         Unknown    Male       205.0     Farwell

    street_suffix          city         state  postcode           Full_name
0            Road     San Diego    California   92127.0    Romain Southcott
1            Road       El Paso         Texas   78220.0    Cosimo Molyneaux
2          Circle   San Antonio         Texas   78220.0       Bambi Westrip
3           Point       Memphis     Tennessee   38150.0   Roarke Pankettman
4           Drive     Baltimore      Maryland   83732.0    Mikaela Althorpe
..            ...           ...           ...       ...                 ...
995           Way       Reading  Pennsylvania   19610.0       Merrili Alman
996          Hill  Indianapolis       Indiana   46278.0      Winonah Heckle
997          Road     Waterbury   Connecticut    6721.0          Tobit Birt
998         Drive      Savannah       Georgia   31405.0  Issiah Standbrooke
999          Park       Atlanta       Georgia   30386.0       Elmore Malpas

[1000 rows x 15 columns]

In [130]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.2   1000 non-null   int64
 1   Unnamed: 0.1   1000 non-null   int64
 2   Unnamed: 0     1000 non-null   int64
 3   id             1000 non-null   int64
 4   first_name     1000 non-null   object
 5   last_name      1000 non-null   object
 6   email          1000 non-null   object
 7   gender         1000 non-null   object
 8   street_num     1000 non-null   float64
 9   street_name    1000 non-null   object
 10  street_suffix  1000 non-null   object
 11  city           1000 non-null   object
 12  state          1000 non-null   object
 13  postcode       1000 non-null   float64
 14  Full_name      1000 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 117.3+ KB

In [131]:
data1.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe

In [132]:
df = pd.read_csv("customers.csv")
print(df)

     Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0    id first_name    last_name  \
0               0             0           0     1     Romain    Southcott
1               1             1           1     2     Cosimo    Molyneaux
2               2             2           2     3      Bambi      Westrip
3               3             3           3     4     Roarke   Pankettman
4               4             4           4     5    Mikaela     Althorpe
..            ...           ...         ...   ...        ...          ...
995           995           995         995   996    Merrili        Alman
996           996           996         996   997    Winonah       Heckle
997           997           997         997   998      Tobit         Birt
998           998           998         998   999     Issiah  Standbrooke
999           999           999         999  1000     Elmore       Malpas

                              email  gender  street_num street_name  \
0         rsouthcott0@clickbank.net    Male         1.0   Trailsway
1             cmolyneaux1@wiley.com    Male         1.0   Trailsway
2            bwestrip2@symantec.com  Female      4057.0    Arkansas
3            rpankettman3@wiley.com    Male        74.0        Debs
4                  malthorpe4@51.la    Male        74.0         2nd
..                              ...     ...         ...         ...
995            malmanrn@cornell.edu  Female         0.0    Thompson
996               whecklero@fc2.com  Female       701.0     Rowland
997                         Unknown    Male         2.0       Basil
998  istandbrookerq@yellowpages.com    Male         2.0     Kenwood
999                         Unknown    Male       205.0     Farwell

    street_suffix          city         state  postcode           Full_name
0            Road     San Diego    California   92127.0    Romain Southcott
1            Road       El Paso         Texas   78220.0    Cosimo Molyneaux
2          Circle   San Antonio         Texas   78220.0       Bambi Westrip
3           Point       Memphis     Tennessee   38150.0   Roarke Pankettman
4           Drive     Baltimore      Maryland   83732.0    Mikaela Althorpe
..            ...           ...           ...       ...                 ...
995           Way       Reading  Pennsylvania   19610.0       Merrili Alman
996          Hill  Indianapolis       Indiana   46278.0      Winonah Heckle
997          Road     Waterbury   Connecticut    6721.0          Tobit Birt
998         Drive      Savannah       Georgia   31405.0  Issiah Standbrooke
999          Park       Atlanta       Georgia   30386.0       Elmore Malpas

[1000 rows x 15 columns]

In [133]:
print(df[['first_name', 'email', 'state']])

    first_name                           email         state
0       Romain       rsouthcott0@clickbank.net    California
1       Cosimo           cmolyneaux1@wiley.com         Texas
2        Bambi          bwestrip2@symantec.com         Texas
3       Roarke          rpankettman3@wiley.com     Tennessee
4      Mikaela                malthorpe4@51.la      Maryland
..         ...                             ...           ...
995    Merrili            malmanrn@cornell.edu  Pennsylvania
996    Winonah               whecklero@fc2.com       Indiana
997      Tobit                         Unknown   Connecticut
998     Issiah  istandbrookerq@yellowpages.com       Georgia
999     Elmore                         Unknown       Georgia

[1000 rows x 3 columns]

In [134]:
df.isnull()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [135]:
df['country'] = 'usa'
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,country
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott,usa
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux,usa
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip,usa
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman,usa
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,Merrili Alman,usa
996,996,996,996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,Winonah Heckle,usa
997,997,997,997,998,Tobit,Birt,Unknown,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,Tobit Birt,usa
998,998,998,998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,2.0,Kenwood,Drive,Savannah,Georgia,31405.0,Issiah Standbrooke,usa
999,999,999,999,1000,Elmore,Malpas,Unknown,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,Elmore Malpas,usa

In [136]:
data = df

In [137]:
data['Full_name'] = data['first_name'] + ' ' + data['last_name']
data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,country
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott,usa
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux,usa
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip,usa
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman,usa
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe,usa

In [138]:
dataframe_demo = {
    'Name' : ['Ajit', 'Amit', 'Abhishek', 'Akash', 'Aman'],
    'Age' : [18, 22, 20, 35, 55],
    'City' : ['Delhi', 'Ara', 'Khagaria', 'Khagaria', 'Bhagalpur']
}

dataframe_demo = pd.DataFrame(dataframe_demo, index=['a', 'b', 'c', 'd', 'e'])
dataframe_demo

       Name  Age       City
a      Ajit   18      Delhi
b      Amit   22        Ara
c  Abhishek   20   Khagaria
d     Akash   35   Khagaria
e      Aman   55  Bhagalpur

In [139]:
dataframe_demo.loc['b']

Name    Amit
Age       22
City     Ara
Name: b, dtype: object

In [140]:
dataframe_demo.loc[['b', 'c']]

       Name  Age      City
b      Amit   22       Ara
c  Abhishek   20  Khagaria

In [141]:
dataframe_demo_v1 = {
    'Name': ['Akash', 'Amir', 'Abhishek', 'Nehal', 'Abhijeet'],
    'Age': [23, 34, 25, 27, 36],
    'City': ['Delhi', 'Bengaluru', 'Haryana', 'Noida', 'Pune']
}

dataframe_demo_v1 = pd.DataFrame(dataframe_demo_v1)
dataframe_demo_v1

       Name  Age       City
0     Akash   23      Delhi
1      Amir   34  Bengaluru
2  Abhishek   25    Haryana
3     Nehal   27      Noida
4  Abhijeet   36       Pune

In [142]:
dataframe_demo_v1.iloc[0]

Name    Akash
Age        23
City    Delhi
Name: 0, dtype: object

In [143]:
data1.shape

(1000, 15)

In [144]:
data.loc[500:504]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,country
500,500,500,500,501,Elliot,Polycote,epolycotedw@infoseek.co.jp,Male,1743.0,Prentice,Drive,Hartford,Connecticut,75216.0,Elliot Polycote,usa
501,501,501,501,502,Shirline,Halpin,shalpindx@moonfruit.com,Male,76640.0,Buell,Circle,Dallas,Texas,75216.0,Shirline Halpin,usa
502,502,502,502,503,Darcy,Cruddace,Unknown,Male,76640.0,Ridgeview,Court,Utica,New York,13505.0,Darcy Cruddace,usa
503,503,503,503,504,Toiboid,Bentzen,tbentzendz@freewebs.com,Male,913.0,2nd,Trail,White Plains,New York,10606.0,Toiboid Bentzen,usa
504,504,504,504,505,Paxon,Corris,pcorrise0@behance.net,Male,8362.0,Eliot,Way,Des Moines,Iowa,50362.0,Paxon Corris,usa

In [145]:
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,country
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott,usa
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux,usa
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip,usa
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman,usa
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,Merrili Alman,usa
996,996,996,996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,Winonah Heckle,usa
997,997,997,997,998,Tobit,Birt,Unknown,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,Tobit Birt,usa
998,998,998,998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,2.0,Kenwood,Drive,Savannah,Georgia,31405.0,Issiah Standbrooke,usa
999,999,999,999,1000,Elmore,Malpas,Unknown,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,Elmore Malpas,usa

In [146]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,country
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott,usa
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux,usa
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip,usa
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman,usa
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,Merrili Alman,usa
996,996,996,996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,Winonah Heckle,usa
997,997,997,997,998,Tobit,Birt,Unknown,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,Tobit Birt,usa
998,998,998,998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,2.0,Kenwood,Drive,Savannah,Georgia,31405.0,Issiah Standbrooke,usa
999,999,999,999,1000,Elmore,Malpas,Unknown,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,Elmore Malpas,usa

In [147]:
df.drop(columns=['country'], inplace=True)
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe

In [148]:
data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe

In [149]:
data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe

In [150]:
data.loc[0:2]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip

In [151]:
unique_gendae = data['gender'].unique()
print(unique_gendae)

['Male' 'Female']

In [152]:
data.rename(columns={'street_num' : 'street_number', 'street_name': 'street_address'})

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,first_name,last_name,email,gender,street_number,street_address,street_suffix,city,state,postcode,Full_name
0,0,0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,Merrili Alman
996,996,996,996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,Winonah Heckle
997,997,997,997,998,Tobit,Birt,Unknown,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,Tobit Birt
998,998,998,998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,2.0,Kenwood,Drive,Savannah,Georgia,31405.0,Issiah Standbrooke
999,999,999,999,1000,Elmore,Malpas,Unknown,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,Elmore Malpas

In [153]:
data['gender'].value_counts()

gender
Male      528
Female    472
Name: count, dtype: int64

In [154]:
data_purchases = pd.read_csv("purchases.csv")

In [155]:
data_purchases.dtypes

Unnamed: 0.3      int64
Unnamed: 0.2      int64
Unnamed: 0.1      int64
Unnamed: 0        int64
id                int64
purch_date       object
customer_num      int64
product_num       int64
amount            int64
paid            float64
dtype: object

In [156]:
data_purchases.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,purch_date,customer_num,product_num,amount,paid
0,0,0,0,0,1,2019-01-03,823,27,12,568.92
1,1,1,1,1,2,2019-01-03,606,28,14,395.36
2,2,2,2,2,3,2019-01-03,955,9,17,510.17
3,3,3,3,3,4,2019-01-03,577,19,3,68.49
4,4,4,4,4,5,2019-01-03,429,8,18,759.42

In [157]:
data_purchases['purch_date'] = pd.to_datetime(data_purchases['purch_date'])

In [158]:
data_purchases.dtypes

Unnamed: 0.3             int64
Unnamed: 0.2             int64
Unnamed: 0.1             int64
Unnamed: 0               int64
id                       int64
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                   float64
dtype: object

In [159]:
data_purchases['id'] = data_purchases['id'].astype(object)
data_purchases.dtypes

Unnamed: 0.3             int64
Unnamed: 0.2             int64
Unnamed: 0.1             int64
Unnamed: 0               int64
id                      object
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                   float64
dtype: object

In [160]:
data_purchases['paid'] = data_purchases['paid'].str.replace('[\$,]', '', regex=True)
data_purchases.head()

AttributeError: Can only use .str accessor with string values!

In [ ]:
data_purchases['paid'].unique()

array([568.92, 395.36, 510.17, ..., 483.18, 260.65,  98.1 ], shape=(2470,))

In [ ]:
data_purchases['paid'] = data_purchases['paid'].astype(float)
data_purchases.dtypes

Unnamed: 0.1             int64
Unnamed: 0               int64
id                      object
purch_date      datetime64[ns]
customer_num             int64
product_num              int64
amount                   int64
paid                   float64
dtype: object

In [ ]:
data_products = pd.read_csv("products.csv")
data_products

,Unnamed: 0.1,Unnamed: 0,id,product,cost,company
0,0,0,1,Liners - Baking Cups,6.36,Skipfire
1,1,1,2,Nori Sea Weed - Gold Label,85.74,Dynazzy
2,2,2,3,Bar Bran Honey Nut,65.40,Ntag
3,3,3,4,Soup - Campbells Beef Stew,68.16,Photojam
4,4,4,5,Wine - Shiraz Wolf Blass Premium,87.39,Eare
5,5,5,6,"Wine - White, Riesling, Semi - Dry",99.22,Livepath
6,6,6,7,Brandy - Bar,13.83,Oloo
7,7,7,8,Onions - White,42.19,Oozz
8,8,8,9,Lettuce - Baby Salad Greens,30.01,Meevee
9,9,9,10,Sambuca - Ramazzotti,88.99,Livepath
10,10,10,11,Coffee - Decafenated,21.47,Meezzy
11,11,11,12,Lamb Leg - Bone - In Nz,42.56,Photofeed
12,12,12,13,Lettuce - Spring Mix,19.90,Twitterworks
13,13,13,14,Cookies Oatmeal Raisin,99.40,Dynabox
14,14,14,15,Cookies Oatmeal Raisin,14.13,Vitz
15,15,15,16,Sausage - Chorizo,55.45,Unknown
16,16,16,17,Glaze - Apricot,33.78,Browsezoom
17,17,17,18,Squid Ink,56.33,Aibox
18,18,18,19,"Loaf Pan - 2 Lb, Foil",22.83,Brainsphere
19,19,19,20,Bagel - Everything Presliced,87.05,Trunyx
20,20,20,21,Bagel - Whole White Sesame,90.48,Realcube
21,21,21,22,Scotch - Queen Anne,60.26,Unknown
22,22,22,23,Puree - Blackcurrant,16.27,Zoombox
23,23,23,24,"Bread - Bagels, Plain",31.26,Vitz
24,24,24,25,Snapple Raspberry Tea,73.70,Innojam
25,25,25,26,Sour Puss - Tangerine,84.20,Skinder
26,26,26,27,Spaghetti Squash,47.41,Unknown
27,27,27,28,"Wine - Niagara,vqa Reisling",28.24,Unknown
28,28,28,29,Iced Tea Concentrate,59.23,Photolist
29,29,29,30,Fuji Apples,22.96,Cogibox
30,30,30,31,Wine - Carmenere Casillero Del,55.77,Ntag
31,31,31,32,Container Clear 8 Oz,92.33,Muxo
32,32,32,33,Duck - Legs,82.22,Voonder
33,33,33,34,Muffin Hinge Container 6,99.54,Skyble
34,34,34,35,Pie Box - Cello Window 2.5,95.68,Linkbuzz
35,35,35,36,Bread - English Muffin,13.83,Quatz
36,36,36,37,Chocolate - Sugar Free Semi Choc,61.99,Realpoint
37,37,37,38,Pate - Peppercorn,21.98,Mynte
38,38,38,39,Triple Sec - Mcguinness,37.45,Oodoo
39,39,39,40,Pepper - Cubanelle,79.31,Cogibox
40,40,40,41,Squash - Acorn,65.35,Meemm
41,41,41,42,Sauce - Demi Glace,87.51,Wordware
42,42,42,43,Pail For Lid 1537,40.69,Edgeclub
43,43,43,44,Foam Tray S2,30.67,Jabbersphere
44,44,44,45,Shark - Loin,45.77,Thoughtstorm
45,45,45,46,Aromat Spice / Seasoning,61.34,Unknown
46,46,46,47,Tobasco Sauce,48.32,Browsezoom
47,47,47,48,"Apple - Delicious, Golden",36.67,Skiba
48,48,48,49,Lamb - Rack,62.60,Gevee
49,49,49,50,Silicone Paper 16.5x24,63.98,Babbleopia
50,50,50,51,Ecolab - Power Fusion,75.32,Fliptune
51,51,51,52,"Soup - Knorr, Country Bean",98.74,Eimbee
52,52,52,53,"Chicken - Thigh, Bone In",74.06,Topiclounge
53,53,53,54,"Plate - Foam, Bread And Butter",37.79,Flipstorm
54,54,54,55,Beef - Bresaola,8.55,Digitube
55,55,55,56,Peach - Fresh,20.53,Zazio
56,56,56,57,Muffin Hinge - 211n,68.63,Fanoodle
57,57,57,58,Bar Bran Honey Nut,73.05,Yakijo
58,58,58,59,"Nut - Almond, Blanched, Whole",74.28,Eazzy
59,59,59,60,Table Cloth 90x90 Colour,41.22,Quinu

In [ ]:
data_products.head()

,Unnamed: 0.1,Unnamed: 0,id,product,cost,company
0,0,0,1,Liners - Baking Cups,6.36,Skipfire
1,1,1,2,Nori Sea Weed - Gold Label,85.74,Dynazzy
2,2,2,3,Bar Bran Honey Nut,65.40,Ntag
3,3,3,4,Soup - Campbells Beef Stew,68.16,Photojam
4,4,4,5,Wine - Shiraz Wolf Blass Premium,87.39,Eare

In [ ]:
data_products.dtypes

Unnamed: 0.1      int64
Unnamed: 0        int64
id                int64
product          object
cost            float64
company          object
dtype: object

In [ ]:
data_products['cost'] = data_products['cost'].str.replace('[\$,]', '', regex=True)
data_products['cost'] = data_products['cost'].astype(float)

AttributeError: Can only use .str accessor with string values!

In [ ]:
data_products.dtypes

Unnamed: 0      int64
id              int64
product        object
cost          float64
company        object
dtype: object

In [ ]:

data_products['id'] = data_products['id'].astype(object)
data_products.dtypes

Unnamed: 0.1      int64
Unnamed: 0        int64
id               object
product          object
cost            float64
company          object
dtype: object

In [ ]:
data.shape

(1000, 13)

In [ ]:
data_products.shape

(60, 6)

In [ ]:
data_purchases.shape

(6000, 8)

In [ ]:
combine_df = pd.concat([data, data_products, data_purchases])
combine_df

,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,...,Full_name,Unnamed: 0.1,product,cost,company,purch_date,customer_num,product_num,amount,paid
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,...,Romain Southcott,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,...,Cosimo Molyneaux,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,...,Bambi Westrip,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,...,Roarke Pankettman,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,...,Mikaela Althorpe,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5995,5996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5995.0,NaN,NaN,NaN,2019-06-20,893.0,33.0,5.0,411.10
5996,5996,5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5996.0,NaN,NaN,NaN,2019-06-20,566.0,23.0,11.0,178.97
5997,5997,5998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5997.0,NaN,NaN,NaN,2019-06-20,114.0,19.0,9.0,205.47
5998,5998,5999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5998.0,NaN,NaN,NaN,2019-06-20,404.0,11.0,20.0,429.40
5999,5999,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5999.0,NaN,NaN,NaN,2019-06-20,88.0,57.0,4.0,274.52

In [ ]:
merge_df = pd.merge(data, data_purchases, on='id', how='inner')
merge_df

,Unnamed: 0_x,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name,Unnamed: 0.1,Unnamed: 0_y,purch_date,customer_num,product_num,amount,paid
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott,0,0,2019-01-03,823,27,12,568.92
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux,1,1,2019-01-03,606,28,14,395.36
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip,2,2,2019-01-03,955,9,17,510.17
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman,3,3,2019-01-03,577,19,3,68.49
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe,4,4,2019-01-03,429,8,18,759.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0,Merrili Alman,995,995,2019-06-04,198,20,7,609.35
996,996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0,Winonah Heckle,996,996,2019-06-04,96,27,14,663.74
997,997,998,Tobit,Birt,Unknown,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0,Tobit Birt,997,997,2019-06-04,181,7,2,27.66
998,998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,2.0,Kenwood,Drive,Savannah,Georgia,31405.0,Issiah Standbrooke,998,998,2019-06-04,951,54,4,87.68
999,999,1000,Elmore,Malpas,Unknown,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0,Elmore Malpas,999,999,2019-06-04,435,20,18,1143.90

In [ ]:
data1_customers = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['alice', 'bob', 'charlie'],
    'product':['book', 'pen', 'notebook']
})


data2_purchases = pd.DataFrame({
    'id': [2, 3, 4],
    'product': ['pen', 'notebook', 'pen'],
    'amount' : [5, 10, 15]
})

merged_df = pd.merge(data1_customers, data2_purchases, on='id', how='left', suffixes=('_cust', '_pur'))
merged_df

   id     name product_cust product_pur  amount
0   1    alice         book         NaN     NaN
1   2      bob          pen         pen     5.0
2   3  charlie     notebook    notebook    10.0

In [ ]:
data.isnull().sum()

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

In [ ]:
data_products.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
id              0
product         0
cost            0
company         0
dtype: int64

In [ ]:
data_purchases.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
id              0
purch_date      0
customer_num    0
product_num     0
amount          0
paid            0
dtype: int64

In [ ]:
customers_copy = data.copy()

In [ ]:
customers_copy.head()

,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe

In [ ]:
customers_copy.isnull().sum()

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

**Strategy 1**: dropna() -> only when you have a very small proportion of the missing data. Otherwise, please avoid this strategy because that leads to the loss of information.

In [ ]:
customers_copy = customers_copy.dropna()
customers_copy.isnull().sum()

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

In [ ]:
customers_copy.shape

(1000, 13)

**method 2** Data Imputation


Imputation -> With the measures of central tendency [mean, median, mode]

How can we deal with the categorical data -> mode

Suppose i have 40% null data and remaining data have 50% male and 50% female and if use male to fill remaining null values as it is first occuring will that be an inaccuracy?

In [ ]:
mode_gender = data['gender'].mode()[0]
mode_gender

'Male'

In [ ]:
data['gender'].fillna(mode_gender, inplace=True)
data.isnull().sum()

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\3031346686.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['gender'].fillna(mode_gender, inplace=True)

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

In [ ]:
data.shape

(1000, 13)

In [ ]:
data.head(20)

,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe
5,5,6,Magdalena,Cullip,mcullip5@tiny.cc,Female,9190.0,Packers,Drive,Baltimore,Maryland,21229.0,Magdalena Cullip
6,6,7,Marietta,Heball,mheball6@blog.com,Female,12.0,Mallory,Center,Carol Stream,Illinois,60351.0,Marietta Heball
7,7,8,Tine,McSperrin,tmcsperrin7@statcounter.com,Male,530.0,Erie,Plaza,Kansas City,Missouri,64193.0,Tine McSperrin
8,8,9,Enrichetta,de Villier,edevillier8@ox.ac.uk,Female,745.0,Annamark,Street,Fairbanks,Alaska,99709.0,Enrichetta de Villier
9,9,10,Sari,Poulden,spoulden9@xing.com,Female,2.0,Pond,Hill,New Orleans,Louisiana,34205.0,Sari Poulden
10,10,11,Natale,Martina,nmartinaa@wordpress.com,Male,221.0,Sauthoff,Pass,Bradenton,Florida,34205.0,Natale Martina
11,11,12,Noni,Norrington,nnorringtonb@netvibes.com,Female,5.0,Sauthoff,Pass,Baltimore,Maryland,21282.0,Noni Norrington
12,12,13,Mikol,MacWhan,mmacwhanc@patch.com,Male,9.0,Eagle Crest,Center,Bronx,New York,10469.0,Mikol MacWhan
13,13,14,Deny,Thraves,dthravesd@ibm.com,Female,71865.0,Valley Edge,Place,Washington,District of Columbia,20456.0,Deny Thraves
14,14,15,Fara,Petegrew,fpetegrewe@ebay.com,Female,71865.0,Claremont,Place,Los Angeles,California,90005.0,Fara Petegrew
15,15,16,Jodie,De Cristoforo,jdecristoforof@mac.com,Male,50948.0,Rowland,Alley,Charleston,South Carolina,29424.0,Jodie De Cristoforo
16,16,17,Tobi,Dewicke,tdewickeg@hostgator.com,Female,6817.0,Orin,Junction,San Rafael,Texas,79118.0,Tobi Dewicke
17,17,18,Reinhold,Woolforde,rwoolfordeh@cbc.ca,Male,6817.0,Northwestern,Way,Amarillo,Texas,79118.0,Reinhold Woolforde
18,18,19,Fredek,Foley,ffoleyi@bbb.org,Male,8.0,Ridgeway,Park,Silver Spring,Maryland,20910.0,Fredek Foley
19,19,20,Rubina,Hustings,rhustingsj@wikimedia.org,Female,249.0,Esker,Hill,San Antonio,Texas,78210.0,Rubina Hustings

In [ ]:
data['street_num'].fillna(method='ffill', inplace=True)
data.isnull().sum()

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\212907177.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['street_num'].fillna(method='ffill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\212907177.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_num'].fillna(method='ffill', inplace=True)

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

Can you apply the similar strategy of ffill() in the street_name and street_suffix column as well.

In [ ]:
data['street_name'].fillna(method='ffill', inplace=True)
data['street_suffix'].fillna(method='ffill', inplace=True)

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\739530000.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['street_name'].fillna(method='ffill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\739530000.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_name'].fillna(method='ffill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\739530000.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['street_suffix'].fillna(method='ffill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\739530000.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['street_suffix'].fillna(method='ffill', inplace=True)

In [ ]:
data.isnull().sum()

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

In [ ]:
data['city'].fillna(method='bfill', inplace=True)
data['state'].fillna(method='bfill', inplace=True)
data['postcode'].fillna(method='bfill', inplace=True)

data.head(40)

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['city'].fillna(method='bfill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['city'].fillna(method='bfill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['state'].fillna(method='bfill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['state'].fillna(method='bfill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['postcode'].fillna(method='bfill', inplace=True)
C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\1775249522.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['postcode'].fillna(method='bfill', inplace=True)

,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe
5,5,6,Magdalena,Cullip,mcullip5@tiny.cc,Female,9190.0,Packers,Drive,Baltimore,Maryland,21229.0,Magdalena Cullip
6,6,7,Marietta,Heball,mheball6@blog.com,Female,12.0,Mallory,Center,Carol Stream,Illinois,60351.0,Marietta Heball
7,7,8,Tine,McSperrin,tmcsperrin7@statcounter.com,Male,530.0,Erie,Plaza,Kansas City,Missouri,64193.0,Tine McSperrin
8,8,9,Enrichetta,de Villier,edevillier8@ox.ac.uk,Female,745.0,Annamark,Street,Fairbanks,Alaska,99709.0,Enrichetta de Villier
9,9,10,Sari,Poulden,spoulden9@xing.com,Female,2.0,Pond,Hill,New Orleans,Louisiana,34205.0,Sari Poulden
10,10,11,Natale,Martina,nmartinaa@wordpress.com,Male,221.0,Sauthoff,Pass,Bradenton,Florida,34205.0,Natale Martina
11,11,12,Noni,Norrington,nnorringtonb@netvibes.com,Female,5.0,Sauthoff,Pass,Baltimore,Maryland,21282.0,Noni Norrington
12,12,13,Mikol,MacWhan,mmacwhanc@patch.com,Male,9.0,Eagle Crest,Center,Bronx,New York,10469.0,Mikol MacWhan
13,13,14,Deny,Thraves,dthravesd@ibm.com,Female,71865.0,Valley Edge,Place,Washington,District of Columbia,20456.0,Deny Thraves
14,14,15,Fara,Petegrew,fpetegrewe@ebay.com,Female,71865.0,Claremont,Place,Los Angeles,California,90005.0,Fara Petegrew
15,15,16,Jodie,De Cristoforo,jdecristoforof@mac.com,Male,50948.0,Rowland,Alley,Charleston,South Carolina,29424.0,Jodie De Cristoforo
16,16,17,Tobi,Dewicke,tdewickeg@hostgator.com,Female,6817.0,Orin,Junction,San Rafael,Texas,79118.0,Tobi Dewicke
17,17,18,Reinhold,Woolforde,rwoolfordeh@cbc.ca,Male,6817.0,Northwestern,Way,Amarillo,Texas,79118.0,Reinhold Woolforde
18,18,19,Fredek,Foley,ffoleyi@bbb.org,Male,8.0,Ridgeway,Park,Silver Spring,Maryland,20910.0,Fredek Foley
19,19,20,Rubina,Hustings,rhustingsj@wikimedia.org,Female,249.0,Esker,Hill,San Antonio,Texas,78210.0,Rubina Hustings
20,20,21,Karim,Woosnam,kwoosnamk@ifeng.com,Male,249.0,Grayhawk,Place,Houston,Texas,30195.0,Karim Woosnam
21,21,22,Woodrow,Fidoe,wfidoel@creativecommons.org,Male,1.0,Artisan,Junction,Gainesville,Texas,30195.0,Woodrow Fidoe
22,22,23,Loralie,Normand,lnormandm@usa.gov,Female,1.0,Transport,Terrace,Duluth,Texas,30195.0,Loralie Normand
23,23,24,Danita,Cleynaert,dcleynaertn@t-online.de,Female,1.0,Shopko,Center,Denton,Texas,76205.0,Danita Cleynaert
24,24,25,Tomlin,Massinger,Unknown,Male,9.0,Victoria,Trail,Washington,District of Columbia,20409.0,Tomlin Massinger
25,25,26,Franklin,Goodge,fgoodgep@mapquest.com,Male,97670.0,Kensington,Center,Houston,Texas,77240.0,Franklin Goodge
26,26,27,Harlene,Rameau,hrameauq@squarespace.com,Female,2352.0,American,Way,Seattle,Washington,98127.0,Harlene Rameau
27,27,28,Brander,Quinnelly,bquinnellyr@shinystat.com,Male,573.0,Dovetail,Center,Sparks,Nevada,89436.0,Brander Quinnelly
28,28,29,Jeanna,Bruntje,jbruntjes@tuttocitta.it,Female,9296.0,Hanover,Road,Fort Wayne,Indiana,46814.0,Jeanna Bruntje
29,29,30,Ardyth,Zack,azackt@wordpress.com,Female,437.0,Pierstorff,Way,Pittsburgh,Pennsylvania,90065.0,Ardyth Zack
30,30,31,Steve,Pantridge,Unknown,Male,6124.0,Kropf,Street,Los Angeles,California,90065.0,Steve Pantridge
31,31,32,Brit,Nouch,bnouchv@yahoo.com,Female,2385.0,Blaine,Trail,Augusta,Georgia,46896.0,Brit Nouch
32,32,33,Caril,Barnsley,cbarnsleyw@bravesites.com,Female,2385.0,Mallory,Way,Fort Wayne,Indiana,46896.0,Caril Barnsley
33,33,34,Rosalynd,Dyerson,rdyersonx@geocities.jp,Female,2385.0,Cody,Court,Dallas,Texas,75226.0,Rosalynd Dyerson
34,34,35,Griffy,Sonley,gsonleyy@deviantart.com,Male,1.0,Cody,Court,Washington,Virginia,22070.0,Griffy Sonley
35,35,36,Ernest,Armal,earmalz@dailymail.co.uk,Male,4.0,Susan,Center,Washington,District of Columbia,20231.0,Ernest Armal
36,36,37,Elspeth,Mendus,emendus10@ocn.ne.jp,Female,127.0,Mockingbird,Hill,Washington,District of Columbia,48912.0,Elspeth Mendus
37,37,38,Clarita,Bussons,cbussons11@marketwatch.com,Female,7444.0,Northwestern,Crossing,Lansing,Michigan,48912.0,Clarita Bussons
38,38,39,Stanislas,Hacaud,Unknown,Male,76.0,Summer Ridge,Place,Atlanta,Georgia,31119.0,Stanislas Hacaud
39,39,40,Melvyn,Seifert,mseifert13@photobucket.com,Male,76.0,Park Meadow,Pass,San Antonio,Texas,78260.0,Melvyn Seifert

In [ ]:
data.isnull().sum()

Unnamed: 0       0
id               0
first_name       0
last_name        0
email            0
gender           0
street_num       0
street_name      0
street_suffix    0
city             0
state            0
postcode         0
Full_name        0
dtype: int64

In [ ]:
data['email'].fillna('Unknown', inplace=True)
data.head(50)

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\3519303978.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['email'].fillna('Unknown', inplace=True)

,Unnamed: 0,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode,Full_name
0,0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0,Romain Southcott
1,1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,1.0,Trailsway,Road,El Paso,Texas,78220.0,Cosimo Molyneaux
2,2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0,Bambi Westrip
3,3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0,Roarke Pankettman
4,4,5,Mikaela,Althorpe,malthorpe4@51.la,Male,74.0,2nd,Drive,Baltimore,Maryland,83732.0,Mikaela Althorpe
5,5,6,Magdalena,Cullip,mcullip5@tiny.cc,Female,9190.0,Packers,Drive,Baltimore,Maryland,21229.0,Magdalena Cullip
6,6,7,Marietta,Heball,mheball6@blog.com,Female,12.0,Mallory,Center,Carol Stream,Illinois,60351.0,Marietta Heball
7,7,8,Tine,McSperrin,tmcsperrin7@statcounter.com,Male,530.0,Erie,Plaza,Kansas City,Missouri,64193.0,Tine McSperrin
8,8,9,Enrichetta,de Villier,edevillier8@ox.ac.uk,Female,745.0,Annamark,Street,Fairbanks,Alaska,99709.0,Enrichetta de Villier
9,9,10,Sari,Poulden,spoulden9@xing.com,Female,2.0,Pond,Hill,New Orleans,Louisiana,34205.0,Sari Poulden
10,10,11,Natale,Martina,nmartinaa@wordpress.com,Male,221.0,Sauthoff,Pass,Bradenton,Florida,34205.0,Natale Martina
11,11,12,Noni,Norrington,nnorringtonb@netvibes.com,Female,5.0,Sauthoff,Pass,Baltimore,Maryland,21282.0,Noni Norrington
12,12,13,Mikol,MacWhan,mmacwhanc@patch.com,Male,9.0,Eagle Crest,Center,Bronx,New York,10469.0,Mikol MacWhan
13,13,14,Deny,Thraves,dthravesd@ibm.com,Female,71865.0,Valley Edge,Place,Washington,District of Columbia,20456.0,Deny Thraves
14,14,15,Fara,Petegrew,fpetegrewe@ebay.com,Female,71865.0,Claremont,Place,Los Angeles,California,90005.0,Fara Petegrew
15,15,16,Jodie,De Cristoforo,jdecristoforof@mac.com,Male,50948.0,Rowland,Alley,Charleston,South Carolina,29424.0,Jodie De Cristoforo
16,16,17,Tobi,Dewicke,tdewickeg@hostgator.com,Female,6817.0,Orin,Junction,San Rafael,Texas,79118.0,Tobi Dewicke
17,17,18,Reinhold,Woolforde,rwoolfordeh@cbc.ca,Male,6817.0,Northwestern,Way,Amarillo,Texas,79118.0,Reinhold Woolforde
18,18,19,Fredek,Foley,ffoleyi@bbb.org,Male,8.0,Ridgeway,Park,Silver Spring,Maryland,20910.0,Fredek Foley
19,19,20,Rubina,Hustings,rhustingsj@wikimedia.org,Female,249.0,Esker,Hill,San Antonio,Texas,78210.0,Rubina Hustings
20,20,21,Karim,Woosnam,kwoosnamk@ifeng.com,Male,249.0,Grayhawk,Place,Houston,Texas,30195.0,Karim Woosnam
21,21,22,Woodrow,Fidoe,wfidoel@creativecommons.org,Male,1.0,Artisan,Junction,Gainesville,Texas,30195.0,Woodrow Fidoe
22,22,23,Loralie,Normand,lnormandm@usa.gov,Female,1.0,Transport,Terrace,Duluth,Texas,30195.0,Loralie Normand
23,23,24,Danita,Cleynaert,dcleynaertn@t-online.de,Female,1.0,Shopko,Center,Denton,Texas,76205.0,Danita Cleynaert
24,24,25,Tomlin,Massinger,Unknown,Male,9.0,Victoria,Trail,Washington,District of Columbia,20409.0,Tomlin Massinger
25,25,26,Franklin,Goodge,fgoodgep@mapquest.com,Male,97670.0,Kensington,Center,Houston,Texas,77240.0,Franklin Goodge
26,26,27,Harlene,Rameau,hrameauq@squarespace.com,Female,2352.0,American,Way,Seattle,Washington,98127.0,Harlene Rameau
27,27,28,Brander,Quinnelly,bquinnellyr@shinystat.com,Male,573.0,Dovetail,Center,Sparks,Nevada,89436.0,Brander Quinnelly
28,28,29,Jeanna,Bruntje,jbruntjes@tuttocitta.it,Female,9296.0,Hanover,Road,Fort Wayne,Indiana,46814.0,Jeanna Bruntje
29,29,30,Ardyth,Zack,azackt@wordpress.com,Female,437.0,Pierstorff,Way,Pittsburgh,Pennsylvania,90065.0,Ardyth Zack
30,30,31,Steve,Pantridge,Unknown,Male,6124.0,Kropf,Street,Los Angeles,California,90065.0,Steve Pantridge
31,31,32,Brit,Nouch,bnouchv@yahoo.com,Female,2385.0,Blaine,Trail,Augusta,Georgia,46896.0,Brit Nouch
32,32,33,Caril,Barnsley,cbarnsleyw@bravesites.com,Female,2385.0,Mallory,Way,Fort Wayne,Indiana,46896.0,Caril Barnsley
33,33,34,Rosalynd,Dyerson,rdyersonx@geocities.jp,Female,2385.0,Cody,Court,Dallas,Texas,75226.0,Rosalynd Dyerson
34,34,35,Griffy,Sonley,gsonleyy@deviantart.com,Male,1.0,Cody,Court,Washington,Virginia,22070.0,Griffy Sonley
35,35,36,Ernest,Armal,earmalz@dailymail.co.uk,Male,4.0,Susan,Center,Washington,District of Columbia,20231.0,Ernest Armal
36,36,37,Elspeth,Mendus,emendus10@ocn.ne.jp,Female,127.0,Mockingbird,Hill,Washington,District of Columbia,48912.0,Elspeth Mendus
37,37,38,Clarita,Bussons,cbussons11@marketwatch.com,Female,7444.0,Northwestern,Crossing,Lansing,Michigan,48912.0,Clarita Bussons
38,38,39,Stanislas,Hacaud,Unknown,Male,76.0,Summer Ridge,Place,Atlanta,Georgia,31119.0,Stanislas Hacaud
39,39,40,Melvyn,Seifert,mseifert13@photobucket.com,Male,76.0,Park Meadow,Pass,San Antonio,Texas,78260.0,Melvyn Seifert
40,40,41,Ruby,Plott,rplott14@un.org,Male,2.0,Killdeer,Pass,Seattle,Washington,98121.0,Ruby Plott
41,41,42,Nollie,Salter,nsalter15@fastcompany.com,Male,23.0,Lake View,Point,Irving,Tennessee,38150.0,Nollie Salter
42,42,43,Bendicty,Sunnex,bsunnex16@elpais.com,Male,39695.0,North,Place,Irving,Texas,77070.0,Bendicty Sunnex
43,43,44,Garrett,Bartram,gbartram17@sun.com,Male,15.0,Everett,Way,Houston,Texas,77070.0,Garrett Bartram
44,44,45,Berna,Longhurst,blonghurst18@geocities.jp,Female,50870.0,Milwaukee,Hill,El Paso,Texas,79916.0,Berna Longhurst
45,45,46,Edmon,Elsegood,eelsegood19@ezinearticles.com,Male,48085.0,Pepper Wood,Street,Des Moines,Iowa,50362.0,Edmon Elsegood
46,46,47,Burch,Issacov,bissacov1a@tiny.cc,Male,54399.0,Pepper Wood,Street,Dallas,Texas,75397.0,Burch Issacov
47,47,48,Rori,Clashe,rclashe1b@smh.com.au,Female,558.0,Rigney,Avenue,Everett,Washington,98206.0,Rori Clashe
48,48,49,Flinn,Hoston,Unknown,Male,84.0,Waxwing,Terrace,Washington,District of Columbia,20530.0,Flinn Hoston
49,49,50,Claudette,Ivatts,Unknown,Female,5552.0,Bunting,Junction,San Francisco,California,94137.0,Claudette Ivatts

In [ ]:
data_products.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
id              0
product         0
cost            0
company         0
dtype: int64

In [ ]:
data_products.dtypes

Unnamed: 0.1      int64
Unnamed: 0        int64
id               object
product          object
cost            float64
company          object
dtype: object

In [ ]:
data_products.head(20)

,Unnamed: 0.1,Unnamed: 0,id,product,cost,company
0,0,0,1,Liners - Baking Cups,6.36,Skipfire
1,1,1,2,Nori Sea Weed - Gold Label,85.74,Dynazzy
2,2,2,3,Bar Bran Honey Nut,65.40,Ntag
3,3,3,4,Soup - Campbells Beef Stew,68.16,Photojam
4,4,4,5,Wine - Shiraz Wolf Blass Premium,87.39,Eare
5,5,5,6,"Wine - White, Riesling, Semi - Dry",99.22,Livepath
6,6,6,7,Brandy - Bar,13.83,Oloo
7,7,7,8,Onions - White,42.19,Oozz
8,8,8,9,Lettuce - Baby Salad Greens,30.01,Meevee
9,9,9,10,Sambuca - Ramazzotti,88.99,Livepath
10,10,10,11,Coffee - Decafenated,21.47,Meezzy
11,11,11,12,Lamb Leg - Bone - In Nz,42.56,Photofeed
12,12,12,13,Lettuce - Spring Mix,19.90,Twitterworks
13,13,13,14,Cookies Oatmeal Raisin,99.40,Dynabox
14,14,14,15,Cookies Oatmeal Raisin,14.13,Vitz
15,15,15,16,Sausage - Chorizo,55.45,Unknown
16,16,16,17,Glaze - Apricot,33.78,Browsezoom
17,17,17,18,Squid Ink,56.33,Aibox
18,18,18,19,"Loaf Pan - 2 Lb, Foil",22.83,Brainsphere
19,19,19,20,Bagel - Everything Presliced,87.05,Trunyx

In [ ]:
data_products['company'].fillna('Unknown', inplace=True)

C:\Users\ajitk\AppData\Local\Temp\ipykernel_4268\936968058.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_products['company'].fillna('Unknown', inplace=True)

In [ ]:
data_products.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
id              0
product         0
cost            0
company         0
dtype: int64

In [ ]:
data2_purchases.isnull().sum()

id         0
product    0
amount     0
dtype: int64

In [163]:
data.to_csv('Customers.csv')
data_purchases.to_csv('Purchases.csv')
data_products.to_csv('Products.csv')

NameError: name 'data_products' is not defined

Data Analysis: Aggregation

Group by 'customer_num' and compute the sum of 'amount' and 'paid' column

In [ ]:
data_purchases.head()

,Unnamed: 0.1,Unnamed: 0,id,purch_date,customer_num,product_num,amount,paid
0,0,0,1,2019-01-03,823,27,12,568.92
1,1,1,2,2019-01-03,606,28,14,395.36
2,2,2,3,2019-01-03,955,9,17,510.17
3,3,3,4,2019-01-03,577,19,3,68.49
4,4,4,5,2019-01-03,429,8,18,759.42

In [ ]:
aggregated_purchase = data_purchases.groupby('customer_num').agg({'amount':'sum', 'paid': 'sum'})
print(aggregated_purchase)

              amount     paid
customer_num
1                 24   779.34
2                 67  3978.09
3                 88  5031.39
4                 38  2276.38
5                 46  2931.24
...              ...      ...
996               31  2339.19
997               55  3030.34
998               69  3346.93
999               66  3640.48
1000              75  3961.63

[997 rows x 2 columns]

Can you give me the total amount and total paid as per the purchase_date.

In [ ]:
aggregated_purchase_date = data_purchases.groupby('purch_date').agg({'amount':'sum', 'paid':'sum'})
aggregated_purchase_date

            amount      paid
purch_date
2019-01-03     480  20468.33
2019-01-04     872  48529.13
2019-01-05     715  38643.67
2019-01-06     576  32345.29
2019-02-03     568  28183.50
...            ...       ...
2019-11-06     475  24778.05
2019-12-03     524  27691.62
2019-12-04     647  37100.59
2019-12-05     380  20845.55
2019-12-06     481  26410.08

[108 rows x 2 columns]

explore the method drop_duplicates