In [ ]:
import pandas as pd

data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raji', 'Simran'],
    "Age": [25, 30, 45, 52, 49, 40, 33, 28],
    "Salary": [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance_Score": [85, 90, 78, 92, 88, 95, 80, 89]
}

df = pd.DataFrame(data)

high_salary = df[df['Salary'] > 50000]

print('Employees with salary > 50000:')
print(high_salary)

Employees with salary > 50000:
        Name  Age  Salary  Performance Score
1      Shyam   30   60000                 90
3  Dhanshyam   52   52000                 92
5    Jagdish   40   70000                 95
7     Simran   28   58000                 89