In [ ]:
str1="apple"
str2="banana"


print(ascii(str1))
print(ascii(str2))
print(' '.join(format(b, '08b') for b in str1.encode()))
print(' '.join(format(b, '08b') for b in str2.encode()))



print(str1 == str2)
print(str1<=str2)
print(str1>str2)

'apple'
'banana'
01100001 01110000 01110000 01101100 01100101
01100010 01100001 01101110 01100001 01101110 01100001
False
True
False

In [ ]:
ord('a')

97

In [ ]:
ord('z')

122

In [ ]:
[ord(char)for char in 'apple']

[97, 112, 112, 108, 101]

In [ ]:
[ord(char)for char in 'banana']

[98, 97, 110, 97, 110, 97]

In [12]:
name = "Ajit"
print(name.lower())  # ajit
print(name.upper())  # AJIT

ajit
AJIT

replace()

In [ ]:
original_string="hello world"
new=original_string.replace("world", "ajit")
print(new)

hello ajit

split()

In [7]:
string="Hello world"
string.split()

['Hello', 'world']

In [ ]:
string.split("-")

['Hello', 'world']

In [ ]:
age = 20
text = f"My name is Ajit, I am  {age} years old"
print(text)

My name is Ajit, I am  20 years old

In [ ]:
name= "             sohan kumar             das                "
# print(name)
print(name.strip())
print(name.lstrip())
print(name.rstrip())

sohan kumar             das
sohan kumar             das
             sohan kumar             das

In [ ]:
string = "Hello, World!"
index = string.index("W")
print(index)
index= string.index("d")
print(index)

7
11

In [ ]:
string = "Hello, World!"
index = string.find("W")
print(index)
index= string.find("d")
print(index)

7
11

In [ ]:
sentence = "this is a sample sentence"
count=sentence.count("s")
print(count)

4

In [3]:
# Examples of string creation
single = 'Hello'
double = "World"
multi = """This is
a multiline string"""

In [5]:
print(single)
print(double)
print(multi)

Hello
World
This is
a multiline string

In [6]:
# Using single quotes
single_quoted_string = 'This is a string with single quotes'

# Using double quotes
double_quoted_string = "This is a string with double quotes"

In [10]:
text = "Hello, world!"
length = len(text)
print(length)

13

In [11]:
lines = ["Line 1", "Line 2", "Line 3"]
print("\n".join(lines))

Line 1
Line 2
Line 3