In [10]:
import pandas as pd

data={
    "name":["Ajit", "golden", "kumar"],
    "age": [28,35,15],
    "salary": [1872487, 7877277, 6464272]
}

df = pd.DataFrame(data)

In [11]:
# avg salary --> .mean()

avg_salary= df['salary'].mean()
print(avg_salary)

5404678.666666667

In [15]:
# sum --> .sum()
total_sum=df['age'].sum()
print(total_sum)

78

In [13]:
# min --> .min()
min=df['age'].min()
print(min)

15

In [14]:
# max --> .max()

max=df['age'].max()
print(max)

35