In [3]:
import pandas as pd

data={
    "name":["Ajit", "golden", "kumar","sohan", "mohan", "rohan"],
    "age": [28,35,15,25,15,25],
    "salary": [1872487, 7877277, 6464272, 8735443,78347,73487]
}

df = pd.DataFrame(data)

In [5]:
grouped= df.groupby("age")["salary"].sum()
print(grouped)

age
15    6542619
25    8808930
28    1872487
35    7877277
Name: salary, dtype: int64

In [7]:
grouped=df.groupby(["name","age"])["salary"].sum()
print(grouped)

name    age
Ajit    28     1872487
golden  35     7877277
kumar   15     6464272
mohan   15       78347
rohan   25       73487
sohan   25     8735443
Name: salary, dtype: int64