In [6]:
import pandas as pd

data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Aditi"],
    "Age": [None, 30, None, 28],  
    "Salary": [50000, None, 45000, 55000] 
}

df = pd.DataFrame(data)

In [7]:

df.interpolate(method="linear", axis=0, inplace=True)
print(df)

        Name   Age   Salary
0        Ram   NaN  50000.0
1      Shyam  30.0  47500.0
2  Ghanshyam  29.0  45000.0
3      Aditi  28.0  55000.0

C:\Users\ajitk\AppData\Local\Temp\ipykernel_20112\2589506337.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear", axis=0, inplace=True)

In [8]:
from pandas import DataFrame


data={
    "time": [1,2,3,4,5,6,7],
    "value": [10,20,None,45,50,None,78]
}

df=DataFrame(data)

print("Before Interpolation: ")
print(df)


print("After Interpolation: ")
df['value']=df['value'].interpolate(method="linear")
print(df)

Before Interpolation:
   time  value
0     1   10.0
1     2   20.0
2     3    NaN
3     4   45.0
4     5   50.0
5     6    NaN
6     7   78.0
After Interpolation:
   time  value
0     1   10.0
1     2   20.0
2     3   32.5
3     4   45.0
4     5   50.0
5     6   64.0
6     7   78.0